@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: black;
  background: white;
  font-family: "Bruno_Ace";
}

    
  
      
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
